@model Cloud__.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Forgot password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Bad move</h4>

    <p class="left">
        @Html.ActionLink("Create new account", "Register")
    </p>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
