@model Cloud__.Models.EditorViewModel

@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>

@using (Html.BeginForm("Invite", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Content, new { @id = "hidden_editor" })
    <input type="submit" value="Invite" />
}

<html lang="en">
<head>
    <title>ACE in Action</title>
    <style type="text/css" media="screen">
        #editor {
            height: 560px;
        }
    </style>
</head>
<body>
    
    <div id="editor">
        @ViewBag.Code
    </div>

@using (Html.BeginForm("SaveCode", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Content, new { @id = "hidden_editor"})
    <input type="submit" value="Save code" />
}
@section scripts
{
    <script src="~/Scripts/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        
        var documentID = @ViewBag.DocumentID; //Þurfum að breyta í ID-ið í gagnagrunninum, þetta er harðkóðað

    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");

    $("form").submit(function () {
        $("#hidden_editor").val(editor.getSession().getValue());
    });

    var codeHub = $.connection.codeHub;
    var silent = false;

    codeHub.client.onChange = function (changeData) {
        console.log(changeData);

        silent = true;
        editor.getSession().getDocument().applyDelta(changeData);
        silent = false;
    };

    $.connection.hub.start().done(function () {

        codeHub.server.joinDocument(documentID);
        editor.on("change", function (obj) {
            if(silent){
                return;
            }
            console.log(obj);
            codeHub.server.onChange(obj, documentID);
        });
    });

    </script>
}


    <!--
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="signalr/hubs"></script>
    
  
    var codeHub = $.connection.codeHub;
    $.connection.hub.start().done(function () {
        editor.on("change", function(obj) {
            console.log(obj);
        }};
    }};
    -->
 
</body>
</html>