body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center
.logo
{
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo
{
    margin-left:55px;
}


.midja {
    display: flex;
    justify-content: center;
}

.createProject {
     position: absolute; 
     visibility: visible; 
     right: 125px; 
     top: 120px; 
}

.floatleft {
    float:left; 
    width: 80%;
    background-color: #ff0000;
    height: 400px;
}

.floatright {
float: right;
    background-color: #00ff00;
    height: 400px;
    width: 20%;
}


.logohelper {

   margin-left: 120px;
}

div.square {
  border: solid 2px;
  width: 1000px;
  height: 300px;
}

.fkn {

    margin-right: 15px;
}

#split-bar {
    background-color: deepskyblue;
    position: static;
    height: 100%;
    float: right;
    margin-left: 0px;
    padding-left: 14px;
    left: 0;
    padding-right: 0px;
    right: 0px;
}

#sidebar {
    background-color: white;
    position: absolute;
    width: 300px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    height: 930px;
    margin: 0px 0px 0px 0px;
    float: left;
}

#editor 
{
    height: 700px;
    top: -50px;
    margin-left: 25px;
    margin-right: -274px;
}

#editor-position
{
    margin-left: 185px;
}

h4
{
    color: deepskyblue;
    font-family:Century Gothic, sans-serif;
    font-size: 25px;
    padding-left: 21px;
}

#logoeditor
{
    margin-left: 35px;
}

#project-color
{
    color: deepskyblue;
    padding-left: 21px;
}

.theme
{
    margin-left: 15px;
}

.btn1
{
    padding-left: 30px;
    margin-left: 15px;
}

#btn-btn-success
{
 margin-left: 830px;
}

h2
{
    padding-left: 20px;
}

.stillachat{
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: white;
    border-top: 2px solid black;
}

#liggjandi {

    background-color: white;
    position: absolute;
    width: 1390px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    height: 230px;
    margin: 0px 0px 0px 0px;
    float: left;
}

#split-liggjandi {

    background-color: deepskyblue;
    position: static;
    height: 6%;
    float: right;
    margin-left: 0px;
    padding-left: 1390px;
    left: 0;
    padding-right: 0px;
    right: 0px;
}

#moveSave{

    position: absolute;
    right: 1000px;
    top: 110px;

}