body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.center
.logo {
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo {
    margin-left:95px;
}


.midja {
    display: flex;
    justify-content: center;
}

.createProject {
     position: absolute; 
     visibility: visible; 
     right: 125px; 
     top: 120px; 
}

.floatleft {
    float:left; 
    width: 80%;
    background-color: #ff0000;
    height: 400px;
}

.floatright {
float: right;
    background-color: #00ff00;
    height: 400px;
    width: 20%;
}


.logohelper {

   margin-left: 120px;
}

div.square {
  border: solid 2px;
  width: 1000px;
  height: 300px;
}

.fkn {

    margin-right: 15px;
}

#split-bar {
    background-color: #5489da;
    position: static;
    height: 121%;
    float: right;
    padding-left: 14px;
}

#sidebar {

  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: white;
}

#editor {

    height: 39.7em;
    top: -4.2em;
    margin-left: 16.6%;
    margin-right: -6.3%;

}

h4 {
    color: #5489da;
    font-family:Century Gothic, sans-serif;
    font-size: 25px;
    padding-left: 21px;
}

#logoeditor {
    margin-left: 35px;
}

#project-color {
    color: #5489da;
    padding-left: 21px;
}

.theme {
    margin-left: 15px;
}

.btn1 {
    padding-left: 30px;
    margin-left: 15px;
}

#btn-btn-success {
    margin-left: 830px;
}

h2 {
    padding-left: 20px;
}

.stillachat {

    position: absolute;
    bottom: 5%;
    left: 0;
    height: 45%;
    margin-bottom: 15%;
    background-color: white;
    border-top: 1em solid #5489da;
    border-right: 1em solid #5489da;
}

#liggjandi {

  background-color: white;
  width: 74em;
  position: absolute;
  top: 34em;
  right: -1.5em;
  height: 14.4em;
  margin-left: 100px;
}

#geyma4 {

  width: 80.6%;
  position: absolute;
  top: 70%;
  bottom: 0px;
  left: 19.4%;
  background-color: deeppink;

  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: white;
}

#split-liggjandi {

    background-color: #5489da;
    position: static;
    height: 1em;
    width: 74em;
}

#moveSave {

    position: absolute;
    right: 31em;
    top: 11em;
}

#moveInv {

    position: absolute;
    right: 12em;
    top: 11em;
}

#moveSaveImg {

    position: absolute;
    right: 36em;
    top: 4em;
}

#moveAddFile {

    position: absolute;
    right: 1em;
    top: 15em;
}

#moveAddFileImg {

    position: absolute;
    right: 14em;
    top: 4.4em;
}

#moveTheme {

    position: absolute;
    right: 55em;
    top: 5.5em;
}

#themeTextBlue {
    font-weight: bold;
    color: #5489da;
    padding-left: 1em;
}

#stillingar {

    min-width: 960px; 
    width: 1285px; 
    margin: 0 auto;
}

th {
    height: 3em;
    background-color: #428bca;
    color: white;
}

table, th, td { 
border: 2px solid #428bca; 
width: 50em;
}

#tableMix {
     width: 100%;
    border-collapse: collapse;
    text-align:center;
    
}

tr:hover {
    background-color: #f5f5f5;
}

td {
    height: 3em;
    color: #428bca;
}

#LoginInputHelp {

    padding-right: 9em;
}

#logofixLogin {

        padding-right: 3.5em;
}
